.ourServicesHomeSection{
    margin: 5%;
}
.servicesIcons{
    display: flex;
    justify-content: space-between;

}

@media (max-width: 1160px) {
.servicesIcons{
    flex-wrap: wrap;
    justify-content: center;
}
}