.smallSearcher {
  display: flex;
  justify-content: center;
}
.searcherContent {
  box-shadow: 0px 4px 4px #00000080;
  border-radius: 5px;
  height: 200px;
  padding: 30px;
}

.title h3 {
  font-weight: lighter;
}

.formSearch {
  margin-top: 30px;
  display: flex;
}

@media (max-width: 1160px) {

}