.aboutUsSection {
  margin: 2% 5%;
  display: flex;
  align-items: start;
  gap: 40px;
  margin-bottom: 10%;
}

.aboutUsImages {
  position: relative;
  width: 450px;
  height: 450px;
  margin-right: 12%;
}

.aboutUsImages img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  border: 1px solid #000;
}
/* Imagen de atrás */
.backImage {
  position: absolute;
  z-index: 1;
}

/* Imagen de adelante */
.frontImage {
  position: relative;
  left: 30%;
  top: 20%;
  z-index: 2;
}